body {
    background-image: url("../img/b100.jpg");  /* CSS */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    z-index: 1000;
    height: 40px;
}

.nav {
    text-align: center;
}

.page-title {
    margin-top: 50px;
    font-family: 'Londrina Outline', cursive;
    text-align: center;
    font-size: 200px;
    color: yellow;
}

.name-logo {
    font-family: 'Londrina Outline', cursive;
    text-align: center;
    color: yellow;
}

.name-logo h1 {  
    font-size: 120px;
}

.name-logo h2 {
    font-size: 100px;
}

.name-logo h3 {
    font-size: 80px;
}

.name-logo h4 {
    font-size: 60px;
}

.name-logo h5 {
    font-size: 40px;
}

.name-logo h6 {
    font-size: 20px;
}

.prof-img {
    text-align: center;
}

.prof {
    text-align: center;
    font-family: 'Londrina Outline', cursive;
    color: yellow;
}

.prof h2 {
    font-size: 80px;
}

.prof p {
    display: none;
    font-size: 40px;
}

.msg {
    text-align: center;
    font-family: 'Londrina Outline', cursive;
    color: yellow;
}

.msg h2 {
    font-size: 80px;
}

.msg p {
    display: none;
    font-size: 40px;
}

.slider-title h2 {
    text-align: center;
    font-size: 80px;
    font-family: 'Londrina Outline', cursive;
    color: yellow;
}

.slider img {
    width: 1000px;
    margin: 0 auto;
}

.end-msg {
    text-align: center;
    font-family: 'Londrina Outline', cursive;
    font-size: 100px;
    color: yellow;
}

